.top-rated-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 96px;
    font-family: Circular Std;
    justify-content: space-evenly;
    background: linear-gradient(180deg, rgba(30, 47, 140, 0.07) 0%, rgba(96, 14, 117, 0.07) 100%);
}
.top-rated-card p{
    font-family: Circular Std;
}

.top-rated-rank{
    width: 10%;
}

.collection-section{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.market-cap-section{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.avg-price-section{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-rated-button{
width: 126px;
height: 45px;
margin-left: 50px;

/* Blue-Purple Gradient */

background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
border-radius: 5px;
border: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

/*  */
font-family: Poppins;
font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;
}

.top-rated-button-container{
    width: 20%;
}

.top-rated-button p{
    font-family: Circular Std;
font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;
}
.collection-image{
    width: 50px;
height: 50px;
background: #C4C4C4;

/* Inside auto layout */
border-radius: 50%;
margin: 0px 26px;
}

