.header-container{
    width: 100%;
height: 91px;
left: 0px;
top: 0px;
z-index: 20;
background: #FFFFFF;

display: flex;
visibility: visible;
flex-direction: row;
align-items: center;
}

.mobile-header-container{
    display: none;
    visibility: hidden;
    z-index: 20;
}
.header-container div{
    display: flex;
flex-direction: row;
height: 50px;

}

.header-logo{
height: 37px;
margin-left: 100px;

}

.header-input-outer{
    width: 500px;
    height: 50px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
margin-right: 20px;
border-radius: 10px; 
    justify-content: center;
    background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
}

.header-input{
    width: 100%;
height: 100%;
/* border: 2px solid; */
display: flex;
flex-direction: row;
/* border-image-source: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%); */

background-color: #ffffff;
/* border-width: 2px;*/
border-radius: 10px; 
}


.header-input input{
    width: 90%;
    height: 48px;
    border: none;
    border-width: 0 0 0 0 ;
    border-radius: 10px;
    padding-left: 10px;
}

.header-input input:active{
    border: 0.5px solid #1E2F8C;
}
.header-input input:hover{
  background-color: #f8f8f8;
  border: none;
}


.header-input img{
   margin: 10px;
}

.header-nav p{
    width: 80px;
height: 23px;
margin-left: 5px; 

font-family: Circular Std;
font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #000000;

}


.header-nav p:hover{
    border-bottom: #1E2F8C 1px solid;
}

.header-button{
width: 126px;
height: 45px;
margin-left: 50px;

/* Blue-Purple Gradient */

background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
border-radius: 5px;
border: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

/*  */
font-family: Poppins;
font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 23px;
/* identical to box height */
cursor: pointer;

color: #FFFFFF;
}

.header-button:hover{
    background: #1E2F8C;
}

.header-button p{
    font-family: Poppins;
font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;
}
.sidebar{
     display: flex;
                    position: fixed;
                    width:80vw;
                    height:100vh;
                    top:0;
                    bottom:0;
                    left:0;
                    background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
                    color:#ffffff;
}

.sidebar-panel-navigation a{
    text-decoration: none;
    color: #ffffff;
}
.sidebar-panel-navigation li{
    margin-top: 2rem;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width:240px) and (max-width: 800px) {
  .main-body{
    overflow-x: hidden;
     margin:0 auto;
     max-width: 100vw;
     z-index: 20;
  }
.header-container{
    display: none;
    visibility: hidden;
}
 .mobile-header-container{
    display: flex;
    visibility: visible;
    width: 100%;
height: 91px;
left: 0px;
top: 0px;
z-index: 10;
background: #FFFFFF;

flex-direction: row;
align-items: center;
}

.mobile-header-logo{
    width: 85%;
}

.mobile-header-button{
    width: 10%;
}
}
