.browse-collections-page{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.browse-collections-header{
    width: 100%;
height: 300px;
left: 0px;
}

.browse-collections-profile-image-container{
    width: 100%;
    height: 6rem;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.browse-collections-profile-image{
    width: 200px;
height: 200px;
border-radius: 10px;
}
.browse-collections-section-header{
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.browse-collections-section-header h1{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height */

text-align: center;

/* Blue-Purple Gradient */

background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.creator-info{
    height: 3rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.creator-info h3{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.creator-info div{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
    border: #1E2F8C 1px solid;
  border-radius: 5px;
}

.creator-info img{
    height: 2rem;
    width: 2rem;
      border-radius: 50%;
      margin-right: 10px;
}

.browse-collections-metrics{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
margin-top: 60px;
width: 734px;
height: 110px;
background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);

color: #ffffff;
border-radius: 5px;
}

.browse-collections-metrics p{
    color: #ffffff;
}



.browse-metrics-card-1{
    padding-right: 10px;
    border-right-width: 2px;
    width: 150px;
    border-right-color: #ffffff;
    border-right-style: solid;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
    height: 80%;
    text-align: center;
}
.browse-collections-metrics-card-1 h4{
   height: 50%;
    width: 100px;
    margin: 10px 0 0 0;
    
    
}
.browse-collections-metrics-card-1 p{
   height: 50%;
    width: 100px;
    margin: 0;
    
}

.browse-collections-metrics-card-2{
    border-right-width: 2px;
    width: 150px;
   color: #FFFFFF;
    height: 80%;
    border-right-color: #ffffff;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
      text-align: center;
    
}

.browse-collections-metrics-card-2 h4{
   height: 50%;
    width: 100px;
    margin: 10px 0 0 0;
    
    
}
.browse-collections-metrics-card-2 p{
   height: 50%;
    width: 100px;
    margin: 0;  
    
}
.browse-collections-metrics-card-3{
    border-right-width: 2px;
    width: 150px;
   color: #FFFFFF;
    height: 80%;
    border-right-color: #ffffff;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
      text-align: center;
    
}

.browse-collections-metrics-card-3 h4{
   height: 50%;
    width: 100px;
    margin: 10px 0 0 0;
    
    
}
.browse-collections-metrics-card-3 p{
   height: 50%;
    width: 100px;
    margin: 0;  
    
}
.browse-collections-metrics-card-4{
    border-right-width: 2px;
    width: 150px;
   color: #FFFFFF;
    height: 80%;
    border-right-color: #ffffff;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
      text-align: center;
    
}

.browse-collections-metrics-card-4 h4{
   height: 50%;
    width: 100px;
    margin: 10px 0 0 0;
    
    
}
.browse-collections-metrics-card-4 p{
   height: 50%;
    width: 100px;
    margin: 0;  
    
}
.browse-collections-metrics-card-5{
    width: 150px;
     display: flex;
     color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: center;
}
.browse-collections-metrics-card-5 h4{
   height: 50%;
    width: 100px;
    margin: 10px 0 0 0;
    
    
}
.browse-collections-metrics-card-5 p{
   height: 50%;
    width: 100px;
    margin: 0;
    
    
}
.browse-collections-description{
    width: 586px;
height: 54px;
margin-top: 2rem;
margin-bottom: 2rem;
/* font-family: 'Circular Std'; */
font-style: normal;
font-weight: 450;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

/* Gray 1 */

color: #333333;
}
.item-bids-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.frame-toggler{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
}

.frame-toggler-active{
    border-bottom: #1E2F8C 1px solid;
    cursor: pointer;
}

.frame-toggler-passive{
    border-bottom: none;
    cursor: pointer;
}

@media (min-width:240px) and (max-width: 800px) {
    
.browse-collections-metrics{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
margin-top: 60px;
width: 100%;
height: 110px;
background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);

color: #ffffff;
border-radius: 5px;
}

.browse-collections-metrics p{
    color: #ffffff;
}



.browse-metrics-card-1{
    padding-right: 10px;
    border-right-width: 2px;
    width: 20%;
    border-right-color: #ffffff;
    border-right-style: solid;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
    height: 80%;
    text-align: center;
}
.browse-collections-metrics-card-1 h4{
   height: 50%;
    width: 100%;
    margin: 5px 0 0 0;
    
    
}
.browse-collections-metrics-card-1 p{
   height: 50%;
    width: 100%;
    margin: 0;

    
}

.browse-collections-metrics-card-2{
    border-right-width: 2px;
    width: 20%;
   color: #FFFFFF;
    height: 80%;
    border-right-color: #ffffff;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
      text-align: center;
    
}

.browse-collections-metrics-card-2 h4{
   height: 50%;
    width: 100%;
    margin: 5px 0 0 0;
    
    
}
.browse-collections-metrics-card-2 p{
   height: 50%;
    width: 100%;
    margin: 0;  
    
}
.browse-collections-metrics-card-3{
    border-right-width: 2px;
    width: 20%;
   color: #FFFFFF;
    height: 80%;
    border-right-color: #ffffff;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
      text-align: center;
    
}

.browse-collections-metrics-card-3 h4{
   height: 50%;
    width: 100%;
    margin: 5px 0 0 0;
    
    
}
.browse-collections-metrics-card-3 p{
   height: 50%;
    width: 100%;
    margin: 0;  
    
}
.browse-collections-metrics-card-4{
    border-right-width: 2px;
    width: 20%;
   color: #FFFFFF;
    height: 80%;
    border-right-color: #ffffff;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
      text-align: center;
    
}

.browse-collections-metrics-card-4 h4{
   height: 50%;
    width: 100%;
    margin: 5px 0 0 0;
    
    
}
.browse-collections-metrics-card-4 p{
   height: 50%;
    width: 100%;
    margin: 0;  
    
}
.browse-collections-metrics-card-5{
    width: 20%;
     display: flex;
     color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: center;
}
.browse-collections-metrics-card-5 h4{
   height: 50%;
    width: 100%;
    margin: 5px 0 0 0;
    
    
}
.browse-collections-metrics-card-5 p{
   height: 50%;
    width: 100%;
    margin: 0;
    
    
}
.browse-collections-description{
    width: 90%;
height: 54px;
margin-top: 2rem;
margin-bottom: 2rem;
/* font-family: 'Circular Std'; */
font-style: normal;
font-weight: 450;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

/* Gray 1 */

color: #333333;
}

}
/* .explore-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
} */
