.footer-page{
    height: 532px;
    width: 100%;
    background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section-1{
    height: 90%;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    padding-top: 122px;
    padding-left: 55px;
    width: 100%;
}
.footer-section-1 p{
     color: #ffffff;
}

.footer-form{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.footer-form h4{
    /* font-family: Circular Std; */
font-style: normal;
font-weight: 700;
font-family: Circular Std;
font-size: 24px;
/* identical to box height, or 44px */

margin: 0;
color: #FFFFFF;
}

.footer-input-container{
    width: 350px;
height: 63px;
border: none;
background: #FFFFFF;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 5px;
}

.footer-input-container input{
    width: 60%;
    margin: 0;
    padding: 0;
height: 100%;
border: none;
background: #FFFFFF;
border-radius: 5px;
}

.footer-input-container div{
    width: 40%;
    margin: 0;
    margin-right: 10px;
    padding: 0;
height: 90%;
border: none;
display: flex;
flex-direction: column;
align-items: center;
background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
border-radius: 5px;

}

.footer-input-container p{
    color: #ffffff;
}
.footer-navigation{
    margin-left: 60px;
}
.footer-section-2{
    height: 20%;
   
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    bottom: 0;
    flex-wrap: wrap;
    border-top: #ffffff solid 1px;
}

.footer-section-2 h5{
    width: 80%;
    color: #ffffff;
    justify-content: flex-start;
    display: flex
    
}

.footer-section-2 div{
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section-2 p{
     color: #ffffff;
}


@media (min-width:240px) and (max-width: 900px) {
    .footer-page{
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, #1E2F8C 0%, #600E75 100%);
    display: flex;
    flex-direction: column;
}

.footer-section-1{
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
    padding-top: 100px;
    padding-left: 10px;
    width: 100%;
}
.footer-section-1 p{
     color: #ffffff;
}

.footer-form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 25px;
}


.footer-navigation{
    margin-left: 20px;
    margin-right: 20px;
}
.footer-section-2{
    height: 10%;
   
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    margin-top: 20px;

}

.footer-section-2 p{
     color: #ffffff;
}
.footer-section-2 h5{
    width: 40%;
    color: #ffffff;
    justify-content: flex-start;
    display: flex;
    margin-left: 10px;
    
}

.footer-section-2 div{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

}
