.top-rated-page{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-rated-page p{
    font-family: Circular Std;
}
.top-rated-header{
    width: 100%;
height: 300px;
left: 0px;
}

.top-rated-profile-image-container{
    width: 100%;
    height: 6rem;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-rated-profile-image{
    width: 200px;
height: 200px;
border-radius: 10px;
}
.top-rated-section-header{
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.top-rated-section-header h2{
font-family: Druk Wide Web Super;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
/* identical to box height */


color: #000000;
}

.top-rated-filter-container{
    display: flex;
    flex-direction: row;
}


.creator-info{
    height: 3rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.creator-info h3{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.creator-info div{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
    border: #1E2F8C 1px solid;
  border-radius: 5px;
}

.creator-info img{
    height: 2rem;
    width: 2rem;
      border-radius: 50%;
      margin-right: 10px;
}


.top-rated-description{
    width: 586px;
height: 54px;
margin-top: 2rem;
margin-bottom: 2rem;
/* font-family: 'Circular Std'; */
font-style: normal;
font-weight: 450;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

/* Gray 1 */

color: #333333;
}

.frame-toggler{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
}

.frame-toggler-active{
    border-bottom: #1E2F8C 1px solid;
    cursor: pointer;
}

.frame-toggler-passive{
    border-bottom: none;
    cursor: pointer;
}

.main-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-table{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.table-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 96px;
    justify-content: space-evenly;
    padding-left: 1rem;
}
.table-header p{
    font-family: Circular Std;
    width: 20%;
}

.explore-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
}

@media (min-width:240px) and (max-width: 900px) {
    .explore-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
    
}
}
