/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap') */

@import url(//db.onlinewebfonts.com/c/2f8845bdde42e943355a39765c5be5c0?family=Druk+Wide+Web+Super);


@font-face {
    font-family: Druk Wide Web Super;
    src: url('./fonts/DrukWide/Druk\ Wide\ Web\ Super\ Regular.ttf');
}

@font-face {
    font-family: Circular Std;
    src: url('./fonts/CircularStdBold/Circular\ Std\ Bold.ttf');
}
body {
  width:100%;
  display: flex;
  flex-direction: row;
margin-left:auto; 
 margin:0 auto;
margin-right:auto;
  overflow-x:hidden;
 font-family: 'Poppins, Druk Wide Web Super, Circular Std';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
